.App {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.session-text {
  color: #999;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;

}

.footer-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.footer-divider {
  margin: 0 10px;
}