.setting-row {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.settings-label {
    font-size: 14px;
    font-weight: 600;
    margin-right: 25px;
}

.settings-input {
    text-align: right;
    font-size: 14px;
}